<div class="container">
  <div class="sticky-top">
    <button class="btn" (click)="openTopicsModal(topicsModal)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
        />
      </svg>
    </button>
  </div>

  <router-outlet />
</div>

<ng-template #topicsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="list-group">
      @for (topic of topics(); track $index) {
      <a
        [routerLink]="[topic.link]"
        routerLinkActive="active"
        class="list-group-item list-group-item-action"
        (click)="modal.dismiss('Cross click')"
      >
        <div class="d-flex flex-wrap w-100 justify-content-between">
          <h5 class="mb-1">{{ topic.title }}</h5>
          <small class="text-body-secondary">
            {{ topic.published | date }}
          </small>
        </div>
        <small class="text-body-secondary">{{ topic.description }}</small>
      </a>
      }
    </div>
  </div>
</ng-template>
